<div class="header">
    <div id="header-content">
        <div id="left">
            <div id="nav" onclick="hamburger_menu()">
                <span id="s1"></span>
                <span id="s2"></span>
                <span id="s3"></span>
            </div>
            <a id="logo-a" href="/mdb"><img id="logo-img" src="/mdb/images/logo.svg" width="154"></a>
            <div id="menu">
                <a href="/mdb/movie?filter=popular">Movies</a>
                <a href="/mdb/tv?filter=popular">TV Shows</a>
            </div>
        </div>
        <div id="right">
            <button><i class="fa-solid fa-bookmark"></i></button>
            <button><i class="fa-regular fa-user"></i></button>
            <button id="search-bar-btn" style="color: var(--sec-header-color)"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</div>
<div id="slider-menu">
    <div>Movies</div>
    <div>TV Shows</div>
    <div>People</div>
</div>
<div id="header-search-bar">   
    <div id="header-search-bar-wrapper">
        <form id="search-form" method="GET" action="/mdb/search">
            <label>
            <span>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search for a movie, TV show, person..." name="query">
            </span>
            </label>
        </form>
    </div>
</div>
<script src="/mdb/js/search_bar.js"></script>
<script src="/mdb/js/hamburger.js"></script>