@import url(hamburger.css);

.header{
    position: relative;

    width: 100%;
    height: 63px;

    background-color: var(--main-header-color);
}

#header-content{
    float: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1324px;
}

#header-content a:not(#logo-a){
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    margin-left: 30px;
}

#header-content a{
    float: left;
}

#header-content #right{
    float: right
}

#header-content button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
}

#slider-menu{
    background-color: var(--main-header-color);
    opacity: 90%;

    position: fixed;
    top: 63px;
    width: 0%;
    height: 100%;
    float: left;
    overflow: hidden;

    transition: width 0.5s;

    z-index: 5;
}

#slider-menu div{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;

    color: white;
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
}

#header-search-bar{
    width: 100%;
    display: none;
    position: absolute;
    top: 64px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 200;
    background-color: white;
}

#header-search-bar.opened{
    display: flex;
    border-bottom: 1px solid lightgray;
}

#header-search-bar-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1324px;
}

#search-form{
    width: 100%;
}

#search-form span{
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    border: none;
}

#search-form input[type=text]{
    width: 100%;
    height: 44px;
    outline: none;
    font-style: italic;
    font-size: 100%;
    color: #acacac;
    text-indent: 0;
    border: none;
    padding-left: 10px;
}

#menu a{
    text-decoration: none;
}

@media only screen and (max-width: 1400px) {
    #header-content{
        width: 95%;
    }

    #header-search-bar-wrapper{
        width: 95%;
    }
} 

@media only screen and (max-width: 660px){
    #header-content button, a{
        margin-left: 5px;
    }
}

@media only screen and (max-width: 560px){
    #header-content #menu{
        display: none;
    }

    #header-content #logo-a{
        margin-left: 50px;
    }

    #nav{
        display: inline;
        float: left;
    }

    .header{
        z-index: 5;
        position: fixed;
        top: 0;
    }
}

@media only screen and (max-width: 330px) {
    #logo-a{
        display: none;
    }
}