#search-results-container{
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-results-wrapper{
    position: relative;
    width: 1324px;
    display: flex;
}

#search-results-left{
    width: 260px;
    border-radius: 10px;
}

#search-filter{
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#search-header{
    background-color: rgb(1, 180, 228);
    border-radius: 10px 10px 0 0;
}

#search-header h1{
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    padding: 20px;
    margin: 0;
}

#filter-options{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 0 0 10px 10px;
}

#filter-options div:hover{
    background-color: rgb(227, 227, 227);
}

#filter-options div.selected{
    font-weight: 700;
    background-color: rgb(227, 227, 227);
}

#filter-options div{
    font-weight: normal;
    padding: 10px 20px;
    cursor: pointer;
}

#search-results-right{
    position: relative;
    padding-left: 30px;
    width: calc(100% - 260px - 30px);
}

div.search-results-list{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: left;
}

.movie-card{
    position: relative;
    width: 100%;
    height: 141px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(227, 227, 227);
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.movie-card .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.movie-card .wrapper .image{
    height: 100%;
    width: 94px;
}

.movie-card .wrapper .details{
    width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.details h2{
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0;
}

.details a{
    text-decoration: none;
    color: black;
}

.details span{
    color: #999;
}

.details p{
    display: inline-block;
    font-size: 1em;
    margin: 20px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

div.pages-wrapper{
    display: flex;
    justify-content: center;
}

div.pages-wrapper span{
    font-weight: 700;
    padding: 0 5px;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {
    #search-results-wrapper{
        width: 95%;
    }
}

@media only screen and (max-width: 880px){
    #search-results-wrapper{
        flex-direction: column;
    }

    #search-results-right{
        width: 100%;
        padding-left: 0;
    }

    #search-results-left{
        width: 100%;
        margin-bottom: 30px;
    }

    #filter-options{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 560px){
    #search-results-container{
        top: 113px;
    }
}