#movie-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    background-image: linear-gradient(to right, rgba(var(--primaryColor), 1) 150px, rgba(var(--primaryColor), 0.84) 100%);
}

#wrapper {
    width: 1324px;
    margin: 15.5px 0;
    display: flex;
    justify-content: left;
}

#movie-details {
    height: 87px;
    margin-left: 20px;
    text-align: left;
    line-height: 43.5px;
}

#poster-img {
    border-radius: 5px;
}

#title {
    font-weight: 700;
    font-size: 35px;
    cursor: pointer;
}

#year {
    font-weight: 400;
    font-size: 35px;
    opacity: 0.8;
}

#back {
    font-weight: 600;
    font-size: 17px;
    opacity: 0.6;
    cursor: pointer;
}

#seasons-holder{
    position: relative;
    width: 100%;
    display: flex;
    top: 70px;
    justify-content: center;
}

#seasons-wrapper{
    width: 1324px;
    display: flex;
    flex-direction: column;
}

.season-card{
    position: relative;
    width: 100%;
    height: 195px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(227, 227, 227);
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.season-card .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.season-card .wrapper .image{
    height: 100%;
}

.season-card .wrapper .details{
    width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.details h2{
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0;
}

.details a{
    text-decoration: none;
    color: black;
}

.details span{
    color: #999;
}

.details p{
    display: inline-block;
    font-size: 1em;
    margin: 20px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 1400px){
    #seasons-wrapper{
        width: 95%;
    }
}

@media only screen and (max-width: 560px){
    #movie-top{
        top: 113px;
    }

    #seasons-holder{
        top: 143px;
    }
}